{% extends "base.html" %}
{% block title %}Bhutan Page{% endblock %}
{% block content %}
<link
    href="http://cdn.bokeh.org/bokeh/release/bokeh-0.11.1.min.css"
    rel="stylesheet" type="text/css">
<script src="http://cdn.bokeh.org/bokeh/release/bokeh-0.11.1.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <h1 style="color:SteelBlue; text-align:center"> Bhutan  </h1>
    {{ js_resources_linear_and_log|indent(4)|safe }}
    {{ css_resources_linear_and_log|indent(4)|safe }}
    {{ plot_script_linear_and_log_plot|indent(4)|safe }}

    <div style="width: 20%; display: inline-block;">
         {{ plot_div_linear_and_log|indent(4)|safe }}

    </div>

    <h2 style="color:SteelBlue;"> Cumulative Covid cases and Deaths </h2>

    {{ js_resources_death_and_cases|indent(4)|safe }}
    {{ css_resources_death_and_cases|indent(4)|safe }}
    {{ plot_script_death_and_cases|indent(4)|safe }}


    <div style="width: 20%; display: inline-block;">
         {{ plot_div_death_and_cases|indent(4)|safe }}

    </div>

    <h2 style="color:SteelBlue;"> Cumulative cases per million in Bhutan and India </h2>

    {{ js_resources_comparing_countries|indent(4)|safe }}
    {{ css_resources_comparing_countries|indent(4)|safe }}
    {{ plot_script_comparing_countries|indent(4)|safe }}


    <div style="width: 20%; display: inline-block;">
         {{ plot_div_comparing_countries|indent(4)|safe }}

    </div>

     <h2 style="color:SteelBlue;"> Daily covid cases in Bhutan </h2>

    {{ js_resources_daily_cases|indent(4)|safe }}
    {{ css_resources_daily_cases|indent(4)|safe }}
    {{ plot_script_daily_cases|indent(4)|safe }}


    <div style="width: 20%; display: inline-block;">
         {{ plot_div_daily_cases|indent(4)|safe }}

    </div>
{% endblock %}