{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}


<link
    href="http://cdn.bokeh.org/bokeh/release/bokeh-0.11.1.min.css"
    rel="stylesheet" type="text/css">
<script src="http://cdn.bokeh.org/bokeh/release/bokeh-0.11.1.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <h1 style="color:SteelBlue; text-align:center">Covid-19 in South Asia</h1>
    <br>
    </br>
    <h2 style="color:SteelBlue;"> Covid-19 cases in South Asian Countries </h2>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}

    <div style="width: 20%; display: inline-block;">
         {{ plot_div|indent(4)|safe }}

    </div>
    <br>

    <h2 style="color:SteelBlue;"> Covid-19 Cases per million in South Asian countries </h2>
    {{ js_resource2|indent(4)|safe }}
    {{ css_resources2|indent(4)|safe }}
    {{ plot_script2|indent(4)|safe }}

    <div style="width: 20%; display: inline-block;">
         {{ plot_div2|indent(4)|safe }}

    </div>

{% endblock %}